treex
fastcore
einops
tensorflow
ffcv
numba
numpy
datasets
tensorboardx
crc32c 
celluloid 
fire 
cloudpickle 
pygit2
clu 
simple-parsing 
pytorch-lightning 
dataclasses-json 
torch
git+https://github.com/rwightman/pytorch-image-models
ipywidgets